body {
  @apply bg-lor-50;
  @apply text-white;
  @apply overflow-x-hidden;

  ::-moz-selection {
    color: #fff;
    background: #512c8b;
  }

  ::selection {
    color: #fff;
    background: #512c8b;
  }

  .swiper-button-prev {
    @apply text-white;
    @apply bg-lor-200;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    border-radius: 50%;
    width: 42px;
    height: 42px;


    &:after {
      font-size: 24px;
      @apply font-bold;
    }
  }

  .swiper-button-next {
    @apply text-white;
    @apply bg-lor-200;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    border-radius: 50%;
    width: 42px;
    height: 42px;


    &:after {
      font-size: 24px;
      @apply font-bold;
    }
  }
}