body {
  @apply bg-lor-50;
  @apply text-white;
  @apply overflow-x-hidden;

  ::-moz-selection {
    color: #fff;
    background: #512c8b;
  }

  ::selection {
    color: #fff;
    background: #512c8b;
  }

  .swiper-button-prev {
    @apply text-white;
    @apply bg-lor-200;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    border-radius: 50%;
    width: 42px;
    height: 42px;


    &:after {
      font-size: 24px;
      @apply font-bold;
    }
  }

  .swiper-button-next {
    @apply text-white;
    @apply bg-lor-200;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    border-radius: 50%;
    width: 42px;
    height: 42px;


    &:after {
      font-size: 24px;
      @apply font-bold;
    }
  }

  .swiper-wrapper {
    @apply flex;
    @apply justify-center;
  }

  .react-paginate {
    display: flex;
    @apply border;
    @apply rounded-[12px];
    @apply border-lor-600;

    .page-item {
      @apply bg-lor-100;
      @apply w-[42px];
      @apply h-[42px];
      @apply flex;
      @apply justify-center;
      @apply items-center;
    }

    .next-item {
      @apply bg-lor-100;
      @apply h-[42px];
      @apply w-auto;
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply rounded-r-[12px];
      @apply px-3;
    }

    .previous-item {
      @apply bg-lor-100;
      @apply h-[42px];
      @apply w-auto;
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply rounded-l-[12px];
      @apply px-3;
    }

    .disabled-item {
      @apply text-neutral-400;
    }

    .active-item {
      @apply bg-lor-600;
    }
  }
}